.bg-primary {
    color: #131D26 !important;
}

.bg-light {
    color: #D98555 !important;
}

.btn-primary {
    background-color: #59331D !important;
}

.bg-dark {
    background-color: #131D26 !important;
}